


h2{
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	color: #323e4f;
}


nav{
	width: 100%;
	height: 61px;
	background: #344051;
	position: fixed;
	z-index: 4;

}	

/*header*/

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;	
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;

}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.menu{
	float: left;

}



.menu li{
	float: left;
	line-height: 68px;
	color: #fff;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-animation: fall 2s ease forwards;
	-o-animation: fall 2s ease forwards;
	animation: fall 2s ease forwards;
	opacity: 0;

}

.menu li:nth-child(2){
	animation-delay: 0.4s;

}

.menu li:nth-child(3){
	animation-delay: 0.6s;
}

.menu li:nth-child(4){
	animation-delay: 0.8s;
}

.menu li:nth-child(5){
	animation-delay: 1s;
}

.menu li:nth-child(6){
	animation-delay: 1.2s;
}


.menu li a{
	color: #fff;
	transition: all 0.15s;
	display: inline-block;
	transform: scale(1);
	text-decoration: none;
}


@keyframes fall{
	from{
		opacity: 0;
		margin-top: -20px;

	}
	to{
		opacity: 1;
		margin-top: 0;

	}
}

.title__container input{
	transition: all 0.2s;
	transform: scale(1);
}

.title__container input:hover {
	background: #344051;
	color: #fff;
}

.title__container input:active {
	transform: scale(1.1);
}


.White-btn{
	color: #fff;
}

.white-btn:visited {
	color: #fff;
}

@media (max-width: 347px){
	.logo{
		font-size: 24px;
		font-weight: 600;
	}
}


/* main */

.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 100% 100%/auto 85% no-repeat, url(../img/back.png), center/cover no-repeat;
}

.title__container{
	float: left;
	color: #2c384a;
	text-align: center;
	width: 100%;
	opacity: 0;
	animation: titlemove 0.9s ease forwards;
	-webkit-animation: titlemove 0.9s ease forwards;
	-o-animation: titlemove 0.9s ease forwards;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -400px;

	}
	to{
		opacity: 1;
		margin-left: 0px;

	}
}

.title__container h1{
	font-size: 72px;
	font-weight: 600;
}

.title__container h4{
	margin-top: 40px;
	font-size: 20px;
	color: 79818d;

}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 28px 0px 14px;

}

.title__container input{
	transition: all 0.2s;
	transform: scale(1);
}

.title__container input:hover {
	background: #344051;
	color: #fff;
}

.title__container input:active {
	transform: scale(1.1);
}

@media (max-width: 992px){
	.title__container, .title_container h4, .title__container input{
		color: #fff;
		position: relative;
		z-index: 3;
	}

	.title__container input{
		border: 2px solid #fff;
	}

	.main{
		position: relative;
	}

	.main::after{
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);

	}
}

/* about */

.about{
	box-shadow: 5px -10px 20px grey;
	height: 820px;
}

.line{
	display: block;
	margin: 25px auto;
	width: 70px;
	height: 3px;
}

.photo{
	width: 100%;

}

.abouttext1{ 
	font-family: Calibri;
	color: #3f495a;

}

.abouttext2{
	width: 100%;
	font-family: Calibri;
	color: #3f495a;
}

.download{
	height: 40px;
	margin-left: 5px;
	text-align: center;
	padding: 0 5%;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	
}

.download:hover {
	background: #5facbd;
	color: #fff;
	border: 2px solid #fff;
}


.download:active {
	transition: all 0.2s;
	transform: scale(1.1);

}


/* what i can */

.WhatICan{
	width: 100%;
	height: 522px;
	background-image: url(../img/fon.png);
}

.WiC{
	height: 160px
}

.subclass{
	width: 100%;
	text-align: center;
	float: left;
}

.subclass h4{
	font-size: 17px;
	font-weight: bold;
	color: #cf7600;
}

.subclass p{
	color: #3f495a;
	line-height: 1.3em;
	color: #3f495a;
}

.subclass:hover {
	transition: 0.1s;
	transform: scale(1.3);
}